.diamond {
	backdrop-filter: blur(10px);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%) !important;
	shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
	margin-bottom: 2rem;
	transition: all 0.5s ease;
}

.diamond:hover {
	transform: scale(1.1);
	backdrop-filter: blur(15px);
}

.diamond__core {
	transition: all 0.5s ease;
}

.diamond:hover .diamond__core {
	fill-opacity: 0.4;
	stroke: rgba(255, 255, 255, 0.5);
	stroke-width: 1px;
}
