.startPage__wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.startPage__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slogan {
	font-size: 6.5em;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.slogan > p {
    margin: .5rem 0;
    transition: all .3s ease-in-out;
}

.slogan > p:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slogan > p:nth-child(2) {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #181A1B;
    background: #fff;
}
