.cardSet__wrapper {
	width: max-content;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	backdrop-filter: blur(10px);
	overflow-x: auto;
	padding-left: 50px;
}
