@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
html {
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	scrollbar-width: none;
	font-family: 'Oswald', sans-serif;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url(./img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
